@import "style.css";

/* ==========================================
                    Sidebar
============================================= */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 360px;
    padding: 20px;
    background: var(--blue);
    transition: var(--tran-04);
    z-index: 100;
}

.sidebar.closed {
    width: 120px;
}

body.dark .sidebar {
    background: var(--text);
}

.sidebar.closed .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar .logo-box {
    width: 100%;
    height: 120px;
    text-decoration: none;
    transition: var(--tran-04);
}

.sidebar .toggle-btn {
    position: absolute;
    top: 60px;
    right: -80px;
    transform: translateY(-50%) rotate(-180deg);
    font-size: 30px;
    color: var(--blue);
    transition: var(--tran-04);
}

body.dark .sidebar .toggle-btn {
    color: var(--white);
}

.sidebar .toggle-btn:hover {
    color: var(--orange);
    background: none;
}

.sidebar.closed .toggle-btn {
    transform: translateY(-50%);
}

.sidebar .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 120px);
}

.sidebar .menu-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar li {
    display: flex;
    align-items: center;
    height: 75px;
    list-style: none;
}

.sidebar li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: var(--default-border-radius);
    transition: var(--tran-03);
}

.sidebar li a:hover {
    scale: 105%;
    box-shadow: 4px 0 10px rgba(0,0,0,.2);
    background: var(--orange);
}

.sidebar .icon {
    min-width: 78px;
    color: var(--white);
    transition: var(--tran-03);
}

.sidebar .text {
    font-weight: 500;
    white-space: nowrap;
    transition: var(--tran-03);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--blue);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text);
}


.sidebar .icon.login-btn,
.sidebar .text.login-btn {
    color: var(--green);
}

body.dark .sidebar .buttons .login-btn {
    color: var(--green);
}

.sidebar .bottom .user {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 125px;
    border-radius: var(--default-border-radius);
    transition: var(--tran-04);
}

.sidebar .bottom .user:hover {
    cursor: pointer;
    scale: 105%;
    background: var(--alpha-green);
}

.sidebar .bottom .user.offline:hover {
    background: var(--alpha-orange);
}

.sidebar.closed .bottom .user {
    padding: 15px;
    height: 80px;
    background: var(--alpha-green);
    border-radius: 50%;
}

.sidebar.closed .bottom .user.offline {
    background: var(--alpha-orange);
}

.sidebar.closed .bottom .user:hover {
    border-radius: var(--default-border-radius);
    scale: 130%;
}

.sidebar .bottom .user .user-info {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom .user .user-info .username {
    font-size: 24px;
    font-weight: 700;
    color: var(--background);
}

body.dark .sidebar .bottom .user .user-info .username {
    color: var(--white);
}

.sidebar .bottom .user .user-info .on-off {
    font-size: 16px;
    color: var(--green);
    transition: var(--tran-03);
}

.sidebar .bottom .user.offline .user-info .on-off {
    color: var(--orange);
}

.sidebar .bottom .usr-profile-picture {
    transition: var(--tran-03);
}

.sidebar.closed .bottom .usr-profile-picture {
    width: 50px;
    height: 50px;
}