/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@400;700;900&display=swap');

/* Root settings */
:root {
    --background-color: #D9D9D9;
    --primary-color: #00113F;
    --secondary-color: #00227E;
    --highlight-color: #E94100;
    --dark-grey-color: #5E5B5B;
    --green-color: #ACE900;
    --highlight-hover-color: #b73400;
    --text-field-color: #ebebeb;
    --box-shadow-color: #c6c6c6;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


/* General */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--background-color);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 64px;
    color: var(--highlight-color);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

/* ==========================================
                    Sidebar
============================================= */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--primary-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar header {
    position: relative;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--background-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

/* ================= Sidebar Logo =================*/

.sidebar .logo {
    min-width: 60px;
    display: flex;
    align-items: center;
    user-select: none;
    justify-content: center;
}

.sidebar .logo-text img {
    width: 40px;
}

.header-text .name {
    font-weight: 500;
    font-size: 25px;
}

.sidebar header .logo-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

/* ================= Sidebar User =================*/

.sidebar .image {
    min-width: 50px;
    margin-left: 10px;
    user-select: none;
}

.sidebar .user-text img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar header .user-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 6px;
}

header .user-text .username-text {
    display: flex;
    flex-direction: column;
}

header .user-text .name {
    font-weight: 700;
    font-size: 16px;
}

header .user-text .status {
    font-size: 15px;
    color: var(--green-color);
    user-select: none;
}

/* ================= Sidebar Menu =================*/

.sidebar .menu-bar {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li.text {
    color: var(--background-color);
    transition: var(--tran-02);
}

.bottom-content li .logout {
    color: var(--highlight-color);
}

/* ================= Sidebar Toggle =================*/

.sidebar header .toggle {
    position: absolute;
    top: 15%;
    right: -60px;
    transform: translateY(-50%) rotate(180deg);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    color: var(--primary-color);
    font: 30px;
    user-select: none;
    transition: var(--tran-05);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

/* ================= Sidebar Closed =================*/

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar.close ~ .midscreen {
    left: 0px;
    width: calc(100%-88px);
}


/* ================= Sidebar Hovering =================*/

.sidebar li a:hover {
    background: var(--highlight-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--primary-color);
}

.sidebar header .user-text:hover {
    background-color: rgba(217, 217, 217, 0.7);
    transition: var(--tran-04);
}

.sidebar header .toggle:hover {
    color: var(--highlight-color);
}

/* ==========================================
                    Midscreen
============================================= */

.midscreen {
    position: relative;
    padding: 20px 0;
    width: calc(100%-250px);
    left: 125px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: var(--tran-05);
}

.midscreen .top-bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center ;
    width: calc(100% - 250px);
    height: 10vh;
    padding: 0 60px;
    top: 0;
    transition: var(--tran-02);
}

.midscreen .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(100% - 250px);
    height: 100vh;
    margin-top: 100px;
    padding: 0 300px;
}

/* ================= Top Bar =================*/

.top-bar.scrolled {
    box-shadow: 10px 0px 10px var(--box-shadow-color);
    background: var(--background-color);
}

.top-bar .left {
    padding-left: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .left .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    min-width: 30px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    user-select: none;
    transition: var(--tran-04);
}

.top-bar .right {
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar .right .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    min-width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    margin-right: 10px;
    transition: var(--tran-04);
    user-select: none;
}

.top-bar .right .corner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.right .corner .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    min-width: 30px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    user-select: none;
    
}

/* ================= Search Bar =================*/

.top-bar .search-bar {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 2px solid var(--primary-color);
    background: var(--text-field-color);
}

.top-bar .search-bar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20px;
    min-width: 50px;
    height: 100%;
    border-radius: 100px;
    user-select: none;
    transition: var(--tran-03);
}

.top-bar .search-bar input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--text-field-color);
    border-radius: 100px;
}

/* ================= Textfield for Posting =================*/

.wrapper .user-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
}

.user-post .textfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primary-color);
    background: var(--text-field-color);
    border-radius: 6px;
    padding: 5px;
}

.user-post .textfield input {
    width: 90%;
    height: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
    background: var(--text-field-color);
    font-size: 16px;
}

.textfield .image {
    min-width: 50px;
    margin-left: 10px;
    user-select: none;
}

.textfield .image img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-post .below-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    user-select: none;
}

.user-post .below-field .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    min-width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    user-select: none;
    transition: var(--tran-04);
}

.user-post .below-field .send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 70%;
    border-radius: 12px;
    border: 3px solid var(--primary-color);
    transition: var(--tran-04);
}

.below-field .send button {
    width: 100%;
    height: 100%;
    background: var(--background-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 12px;
    font-size: 16px;
    transition: var(--tran-02);
}

/* ================= Midscreen Feed =================*/

.wrapper .feed {
    width: 95%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feed .posted {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: var(--text-field-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px var(--box-shadow-color);
    flex-direction: column;
    padding: 50px;
    margin-bottom: 20px;
}

/* ================= Top Section of Feed =================*/

.feed .posted .top-section {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posted .top-section .user {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-section .user .image {
    min-width: 70px;
    margin-left: 10px;
    user-select: none;
}

.user .image img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.top-section .user .by-time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.user .by-time .user-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(dark);
}

.by-time .user-text .username {
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
}

.by-time .user-text .course {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-grey-color);
}

.user-text .course .separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.course .separator .icon {
    font-size: 5px;
    min-width: 10px;
}

.course .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.top-section .by-time .date-time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--dark-grey-color);
}

.posted .top-section .actions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-section .actions .icon {
    color: var(--primary-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    transition: var(--tran-04);
    user-select: none;
}

/* ================= Content Section of Feed =================*/

.feed .posted .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posted .content .text {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.posted .content .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .image img {
    padding-top: 10px;
    width: 100%;
    border-radius: 30px;
}

/* ================= Actions Section of Feed =================*/

.feed .posted .lower-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.posted .lower-section .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lower-section .actions .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    min-width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    user-select: none;
    transition: var(--tran-04);
}


/* ================= Midscreen Hovering =================*/

.midscreen .icon:hover {
    color: var(--background-color);
    background: var(--highlight-color);
}


.below-field .send:hover {
    border: none;
    outline: none;
}

.below-field .send button:hover {
    color: var(--background-color);
    background: var(--highlight-color);
}

/* ==========================================
                Community Page
============================================= */

.wrapper .community {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.community .community-icon {
    color: var(--highlight-color);
    font-size: 64px;
    min-width: 100px;
}


/* ==========================================
                Login Screen
============================================= */
.login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login-screen .rectangle {
    background: var(--primary-color);
    width: 30%;
    height: 70%;
    border-radius: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.login-screen .rectangle img {
    height: 40px;
    margin-bottom: 10px;
}



.rectangle .text {
    color: var(--background-color);
    transition: var(--tran-02);
    font-size: 20px;
    padding-bottom: 5px;
}

/* ================= Fields =================*/

.rectangle .field{
    display:flex;
    height: 15%;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
.rectangle .field .textfield {
    background: var(--background-color);
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle .field .textfield input{
    background: var(--background-color);
    height: 100%;
    width: 90%;
    border-radius: 40px;
    outline: none;
    border: none;
    font-size: 15px;
    color: var(--dark-grey-color);
    
}

/* ================= Buttons =================*/

.rectangle .button{
    background: var(--highlight-color);
    width: 40%;
    height: 10%;
    margin:40px;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.rectangle .button button {
    background: var(--highlight-color);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline:none;
    color: var(--background-color);
    font-weight: 700;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: var(--tran-04);
}

/* ================= Links =================*/

.rectangle .text.link {
    color: var(--highlight-color);
    transition: var(--tran-04);
}

/* ================= Login Screen Hovering =================*/

.rectangle .button button:hover {
    background: var(--highlight-hover-color);
}

.rectangle .text.link:hover {
    color: var(--highlight-hover-color);
}