@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');


/* ==========================================
                Gerneral Settings
============================================= */
:root {
    --background: #d9d9d9;
    --text: #d9d9d9;
    --white-text: #d9d9d9;
    --white: #ebebeb;
    --blue: #00113f;
    --orange: #e94100;
    --dark-orange: #c53800;
    --green: #c8e50f;

    --tran-02: all 200ms ease;
    --tran-03: all 300ms ease;
    --tran-04: all 400ms ease;
    --tran-05: all 500ms ease;

    --default-border-radius: 12px;
    --big-border-radius: 50px;
}

*,
*::after,
*::before {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--background);
}

.dark {
    --background: #191523;
    --text: #0e0a18;
    --white: #d9d9d9;
    --blue: #3166f6;
    --orange: #d8470e;
    --dark-orange: #b63b0b;
    --green: #c8e50f;
}

.not-selectable {
    user-select: none;
}

.borderless {
    outline: none;
    border: none;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}

.text {
    color: var(--text);
    font-size: 20px;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo {
    min-width: 78px;
}

.logo-text {
    font-size: 36px;
    font-weight: 600;
    color: var(--text);
}

.btn-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 75px;
    height: 75px;
    border-radius: var(--default-border-radius);
    transition: var(--tran-03);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* ==========================================
                Hovering Defaults
============================================= */

.btn-sm:hover {
    color: var(--background);
    background: var(--orange);
    cursor: pointer;
    scale: 115%;
}

/* ==========================================
                    Dark-Mode
============================================= */

body.dark {
    background: var(--background);
}

body.dark .login-box {
    background: var(--text);
}

body.dark .text {
    color: var(--white);
}

body.dark .logo-text {
    color: var(--white);
}

body.dark .sidebar {
    background: var(--text);
}

body.dark .sidebar .toggle-btn {
    color: var(--white);
}

body.dark .sidebar .buttons .login-btn {
    color: var(--green);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text);
}
