@import "../sidebar.css";

/* ==========================================
                Sidebar Dark Mode
============================================= */

body.dark .sidebar {
    background: var(--text);
}

body.dark .logo-text {
    color: var(--white);
}

body.dark .toggle-btn {
    color: var(--white);
}

body.dark .text {
    color: var(--white);
}

body.dark .buttons .login-btn {
    color: var(--green);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text);
}
